# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Local config
.env

# Data outputs (regenerate any time)
*.xlsx
